.create-container {
  background-color: white;
  height: 100%;
  flex: 9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(216, 216, 216);
  font-family: "Space Mono", monospace;
}

.create-body {
  flex: 1;
  width: 100%;
  padding: 1vmin;
  font-size: 2.5vmin;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-gen {
  flex: 1;
  height: 100%;
  border-left: solid 1px white;
  padding: 1vmin;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.create-title {
  width: 100%;
  text-align: left;
  color: black;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 4px;
  padding: 20px;
}

.input-box {
  margin: 20px;
  height: 10%;
  width: 50%;
  font-size: 2vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input-box label {
  color: black;
}

.name-input {
  border-radius: 0.5vmin;
  font-family: "Space Mono", monospace;

}

.desc-input {
  border-radius: 0.5vmin;
  font-family: "Space Mono", monospace;
  color: black;
}

.input-row-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 2vmin;
}

.label-toggles {
  color: white;
  font-size: 1.5vmin;
  margin-right: 2vmin;
}

.create-options {
  padding: 1vmin;
  display: flex;
  flex-direction: row;
  font-size: 2vmin;
  justify-content: space-between;
}

.create-option {
  flex: 1;
  display: flex;
  padding: 1.5vmin;
  border: solid 1px white;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vmin;
  transition: background 0.5s ease, color 0.5s ease;
}

.create-option:hover {
  background: white;
  color: black;
}

.gen-choices {
  height: 45%;
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.gen-choice {
  flex: 1;
  font-size: 16px;
  padding: 5px;
  background: black;
  text-align: center;
  color: rgb(216, 216, 216);;
  border-top: solid 1px rgb(40, 40, 40);
  border-bottom: solid 1px rgb(40, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease;
}

.gen-choice:hover {
  background: #fffe;
  color: black;
  border: solid 1px black;
}


@media only screen and (max-width: 600px) {
  .create-title {
    font-weight: 700;
    font-size: 4vmin;
  }

  .create-container {
    flex-direction: column;
  }

  .create-gen {
    border-top: solid 1px white;
    border-left: solid 0px white;
  }

  .input-box {
    height: 5%;
    width: 80%;
    font-size: 3vmin;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
