.card-container {
  padding: 5px;
  margin: 5px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #bfbfbf;
  -webkit-box-shadow: 0 0 1px 0.5px #aaa;
  -moz-box-shadow: 0 0 1px 0.5px #aaa;
  box-shadow: 0 0 1px 0.5px #aaa;
}
