.user-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: black;
  border-right: solid 2px rgb(40, 40, 40);
  font-family: 'Space Mono', monospace;
  width: 200px;
}

.user-info {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.user-name {
  background: rgba(0,0,0,0.5);
  height: 30px;
  flex: 1;
  font-size: calc(1px + 0.8em);
  text-align: center;
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.user-choices {
  flex: 15;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.user-choice {
  flex: 1;
  font-size: 15px;
  padding: 5px;
  background: black;
  text-align: center;
  color: rgb(216, 216, 216);
  border-top: solid 1px rgb(40, 40, 40);
  border-bottom: solid 1px rgb(40, 40, 40);
  transition: background 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-choice:hover {
  background: #fffe;
  color: black;
  border: solid 1px black;
}
