.user-details {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
}

.user-info {
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 50px;
}

.user-name {
  height: 30px;
  flex: 1;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.user-choices {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.user-choice {
  cursor: pointer;
  margin-right: 50px;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 5px;
  text-align: center;
  color: black;
  transition: background 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in 0.2s;
}

.user-choice:hover {
  background: #fffe;
  color: rgb(45, 185, 76);
}
