@import '../../utilities/mixins.scss';
@import '../../utilities//variables.scss';

.Login {
  flex: 1;
  height: 100%;
  background: $white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5fr 4fr 1fr;
  grid-template-areas:
    "header header header"
    "button button button"
    "footer footer footer";

  &-header {
    grid-area: header;
    @include flex-center;
    align-items: flex-end;

    p {
      text-shadow: 2px 2px $brand-green;
      color: $black;
      font-size: 52px;
      letter-spacing: 5px;
      margin: 20px;
      font-weight: bold;

      @include md {
        font-size: 64px;
      }
    }
  }

  &-button {
    grid-area: button;
    @include flex-center;
    align-items: flex-start;
  }

  &-spotify {
    @include flex-center;
    width: 250px;
    background: $brand-green;
    border: solid 1px $brand-green;
    color: $white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 5px;
    padding: 15px;
    border-radius: 200px;
    text-transform: uppercase;
    transition: ease-in 0.2s;
    box-shadow: 0 3px $black;

    &:hover {
      box-shadow: 0 3px $brand-green;
      border: solid 1px $brand-green;
      color: $brand-green;
      background: $white;
    }

    &:active {
      box-shadow: 0 1px $black;
      border: solid 1px $brand-green;
      background: $brand-green;
      color: $white;
    }
  }

  &-footer {
    @include flex-center;
    flex-direction: column;
    grid-area: footer;
    p { margin: 0; }
  }
}