@import "../../utilities/mixins.scss";
@import "../../utilities//variables.scss";

.Login {
  @include container-default {
    background: $white;

    @include flex-center {
      flex-direction: column;
    }
  }

  &-header {
    @include flex-center {
      align-items: flex-end;
    }

    flex: 1;

    font-size: 32px;
    color: $black;
    letter-spacing: 5px;
    font-weight: bold;

    margin: 16px;

    @include sm {
      font-size: 64px;
    }
  }

  &-body {
    flex: 1;
  }

  &-button {
    @include flex-center {
      align-items: flex-start;
    }
  }

  &-spotify {
    @include flex-center;

    width: 150px;
    background: $brand-green;
    border: solid 1px $brand-green;
    color: $white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 5px;
    padding: 16px;
    border-radius: 200px;
    text-transform: uppercase;
    transition: ease-in 0.2s;

    &:hover {
      border: solid 1px $brand-green;
      color: $brand-green;
      background: $white;
    }

    &:active {
      border: solid 1px $brand-green;
      background: $brand-green;
      color: $white;
    }

    @include md
    {
      width: 250px;
    }
  }

  &-footer {
    @include flex-center
    {
      flex-direction: column;
    }

    p {
      margin: 0;
    }
  }
}
