.login-container {
  flex: 1;
  height: 100%;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5fr 4fr 1fr;
  grid-template-areas:
    "header header header"
    "button button button"
    "footer footer footer";
}

.login-header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.login-header p {
  text-shadow: 2px 2px rgb(45, 185, 76);
  color: black;
  font-size: 64px;
  letter-spacing: 5px;
  margin: 20px;
  font-weight: 800;
}

.login-button {
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.login-spotify {
  width: 250px;
  background: rgb(45, 185, 76);
  border: solid 1px rgb(45, 185, 76);
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 15px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in 0.2s;
}

.login-spotify:hover {
  border: solid 1px rgb(45, 185, 76);
  background: white;
  color: rgb(45, 185, 76);
}

.login-footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-footer p {
  margin: 0;
}

@media only screen and (max-width: 450px) {
  .login-header p {
    font-size: 38px;
  }
}
