@import '../../utilities/mixins.scss';
@import '../../utilities//variables.scss';

$margin-spacing: 16px;

.Navigation {
  &--horizontal {
    position: absolute;
    height: 50px;
    width: 100%;
    @include flex-center;
    justify-content: flex-start;
    flex-direction: row;
    background: $white;
  }

  &--vertical {
    height: 100vh;
    width: 13vmin;
    @include flex-center;
    flex-direction: column;
  }

  &-item
  {
    font-size: 16px;
    color: $black;
    margin-right: $margin-spacing*2;
    @include flex-center;
    justify-content: flex-start;

    height: 100%;
    cursor: pointer;

    &:hover {
      color: $brand-green;
    }
  }
}