html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
}


.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 98%;
}


ul { margin: 0; padding: 0; }

div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sr-only,
.js-hidden
{
  visibility: hidden;
}