@import "../../utilities/mixins.scss";
@import "../../utilities//variables.scss";

.Edit
{
  @include container-default
  {
    margin-top: 50px;
  }

  &-header {
    @include flex-center
    {
      justify-content: flex-start;
    }

    flex: 1;
    height: 40px;
  }

  &-imgWrapper
  {
    height: 40px;
    width: 40px;
    margin-right: 16px;
    background: $brand-green;
    box-shadow: 3px 2px 0px -1px rgba(0, 0, 0, 0.29);
  }

  &-img
  {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-title {
    @include flex-center{
      justify-content: flex-start;
    }

    flex: 2;
    font-size: 18px;
    height: 100%;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: $brand-green;

    @include sm
    {
      font-size: 24px;
    }
  }

  &-options {
    @include flex-center
    {
      justify-content: space-between;
    }

    flex: 1;
    height: 100%;
    font-size: 2vmin;
  }

  &-option {
    @include flex-center;

    flex: 1;
    height: 100%;
    padding: 0 8px;
    color: $black;
    cursor: pointer;
    transition: all 0.4s ease;

    &:hover {
      background: $brand-green;
      color: $white;
      border-radius: 2px;
    }
  }

  &-delete {
    flex: 1;
  }

  &-container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  &-body {
    width: 100%;
    font-size: 3vmin;
    overflow-y: scroll
  }
}

.Recommended
{
  &-body {
    flex: 8;
    display: flex;
    flex-direction: column;
  }

  &-title {
    flex: 1;
    width: 100%;
    font-size: 2vmin;
    padding: 1vmin;
    display: flex;
    align-items: center;
  }

  &-songList {
    flex: 39;
    padding: 2px;
    background: rgb(24, 24, 24);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }

  &-savedTracks {
    flex: 1;
    width: 100%;
    height: 50%;
  }
}


.graph-body {
  @include flex-center;

  flex: 9;
  width: 100%;
  margin-bottom: 2vmin;
  font-size: 3vmin;
}

@media only screen and (max-width: 600px) {
  .edit-title {
    flex: 4;
    font-size: 3vmin;
  }
}