.main-container {
  height: 100%;
  flex: 9;
  display: flex;
  flex-direction: column;
}

.dash-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  text-align: center;
}

.user-playlists {
  background: rgb(243, 243, 243);
  padding: 10px;
  overflow-y: scroll;
  font-size: 16px;
  border-radius: 5px;
  width: 50%;
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.user-trending {
  background: rgb(243, 243, 243);
  padding: 10px;
  width: 50%;
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.user-playlist {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: rgb(216, 216, 216);
  border: solid 2px rgba(0, 0, 0, 0.2);
}

.user-playlist:hover {
  border: solid 2px rgb(216, 216, 216);
}

.playlist-name {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  letter-spacing: 2px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
}

.playlist-sub-name {
  text-align: center;
  font-size: 2vmin;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.playlist-photo {
  border-radius: 30vmin;
  height: 8vmin;
  width: 8vmin;
  margin: 1vmin;
  border: solid 2px white;
}

.user-time {
  font-size: 3vmin;
  width: 100%;
  padding-right: 2vmin;
  text-align: right;
  color: white;
}

.dash-title {
  width: 100%;
  height: 7%;
  padding-top: 15px;
  padding-left: 10px;
  font-size: 4vmin;
  display: flex;
  align-items: center;
}

.user-top-artists {
  font-size: 2vmin;
  text-align: center;
  flex: 4;
  overflow-y: scroll;
  background-color: rgb(24, 24, 24);
  border: solid 2px rgb(40, 40, 40);
}

.user-top-tracks {
  font-size: 2vmin;
  text-align: center;
  flex: 4;
  overflow-y: scroll;
  background-color: rgb(24, 24, 24);
  border: solid 2px rgb(40, 40, 40);
}

.top-title {
  width: 100%;
  text-align: left;
  font-size: 16px;
}


@media only screen and (max-width: 600px) {
  .dash-body {
    flex-direction: column;
    height: 90%;
  }

  .dash-title {
    height: 4%;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 4vmin;
  }

  .user-playlists {
    padding: 5px;
    font-size: 3vmin;
    height: 95%;
    width: 100%;
    margin: 4px;
    margin-top: 0px;
  }

  .user-trending {
    padding: 5px;
    font-size: 3vmin;
    height: 93.5%;
    width: 100%;
    margin: 4px;
  }
}