@import "../../utilities/mixins.scss";
@import "../../utilities//variables.scss";

.Dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;

  &-title {
    padding: 16px 2px;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 2px 2px $overlay;
    margin: 1px;
    width: 100%;
    color: $white;
    text-align: center;
  }

  &-body {
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &-playlists {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }

  &-playlist {
    @include flex-center;
    background: $black;
    height: 500px;
    margin: 1px;
    width: calc(100% - 2px);
    
    @include sm {
      width: calc(#{percentage(1/2)} - 2px);
    }

    @include lg {
      width: calc(#{percentage(1/3)} - 2px);
    }
  }

  &-playlistName {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    @include flex-center;
    font-size: 16px;
    letter-spacing: 2px;
    color: $white;
    background: $overlay;
    transition: ease-in 0.2s;

    &:hover {
      background: $off-white;
      color: $black;
    }
  }

  &-trending {
    width: 100%;
  }

  &-topArtists {
    display: flex;
    flex-flow: wrap;
  }

  &-topArtist {
    @include flex-center;
    height: 500px;
    background: $black;
    color: $white;
    margin: 1px;
    width: calc(100% - 2px);
    
    @include sm {
      width: calc(#{percentage(1/2)} - 2px);
    }

    @include lg {
      width: calc(#{percentage(1/3)} - 2px);
    }
  }

  &-topTracks {
    display: flex;
    flex-flow: wrap;
  }

  &-topTrack {
    @include flex-center;
    height: 500px;
    background: $black;
    color: $white;
    margin: 1px;
    width: calc(100% - 2px);
    
    @include sm {
      width: calc(#{percentage(1/2)} - 2px);
    }

    @include lg {
      width: calc(#{percentage(1/3)} - 2px);
    }
  }
}

